<mat-toolbar>
  <button mat-raised-button (click)="createTask()">
    <mat-icon>add</mat-icon>
    Create new task
  </button>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<div class="dropzone-wrapper">
  <ng-container *ngFor="let item of dropzones">
    <div
      class="dropzone"
      appDroppable
      [options]="{ accept: '.task' }"
      (dropping)="assignTask($event, item)"
    >
      {{ item.name }}
      <ng-container *ngFor="let task of item.tasks">
        <div
          class="task"
          [clientId]="clientId"
          [objectId]="task.uuid"
          [model]="task"
          [viewportDimentions]="viewPortDim"
          appDraggable
        >
          {{ task.title }}
          {{ task.status }}
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>

<!--
<div class="dropzone-wrapper">
  <div class="dropzone" appDroppable></div>
  <div class="dropzone" appDroppable></div>
  <div class="dropzone" appDroppable></div>
</div> -->
